@import 'https://dbd-icon-toolbox.nyc3.cdn.digitaloceanspaces.com/resources/css/theme.css';

body {
  background-color: black;
  overflow-y: hidden;
}

body::after {
  content: "";
  background-image: var(--tool-bg);
  background-attachment: fixed;

  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

body,
html {
  height: 100vh;
  width: 100vw;
  font-size: 14px;
}

#root {
  max-height: 100vh;
}

.main-content {
  height: 100%;
}

.perk-card {
  background: rgba(0, 0, 0, 0.5);
  max-width: 500px;
  min-width: 500px;
  max-height: 500px;
  margin-bottom: 1em;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 0;
  outline: 0;
}

.nav-tabs .nav-link:hover {
  background-color: rgba(var(--main-color-rgb), 0.4);
}

.nav-tabs .nav-link:focus {
  background-color: rgba(var(--main-color-rgb), 0.4);
}

.nav-tabs .nav-link.active {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(var(--main-color-rgb), 0.2);
  border: 0;
}

.modal-content {
  border: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.9);
}

.modal-footer {
  border: 0;
}

.modal-body {
  overflow-x: hidden;
}

.modal-body .list-group-item {
  background: rgba(var(--main-color-rgb), 0.2);
  margin: 1px;
  border: 0;
}

.modal-header {
  border-bottom: 0;
}

.modal-content ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9);
}

.modal-content ::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(0, 0, 0, 0.9); /* creates padding around scroll thumb */
}

.table-striped tbody tr:nth-of-type(odd) {
  background: rgba(var(--main-color-rgb), 0.15);
}

.list-group-item:first-child {
  border-radius: 0px;
}

.list-group-item:last-child {
  border-radius: 0px;
}

.list-group-item {
  background: rgba(0, 0, 0, 0.9);
  margin: 0px;
  border-radius: 0px;
}

.list-group-item:hover {
  background-color: rgba(var(--main-color-rgb), 0.9);
}

.list-group-item.active {
  background-color: rgba(var(--main-color-rgb), 0.9);
}

.dropdown-menu {
  border: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.9);
}

.pack-featured {
  box-shadow: 0 0.5rem 1rem rgba(var(--main-color-rgb), 0.6) !important;
}

.img-blurred {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.perk-header-img {
  max-width: 800px;
  height: auto;
}

.perk-pack-data {
  font-size: 0.8rem;
}

.perk-preview-img-compact {
  width: 50%;
  height: 50%;
}

.button {
  border-width: 0;
}

.btn-info {
  border-width: 0;
  background: var(--main-color);
}

.btn-info:not(:disabled):not(.disabled):active {
  border-width: 0;
  background: var(--main-color);
}

.btn-info:focus {
  border-width: 0;
  background: var(--main-color);
}

.btn-info:active {
  border-width: 0;
  background: var(--main-color);
}

.btn-info:hover {
  background: var(--secondary-color);
}

code {
  color: var(--main-color);
}

a {
  color: var(--main-color);
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.topnav-button {
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
  max-height: 25px;
  font-weight: bold;
}

.navbar-dark .navbar-nav .top-nav-active {
  color: var(--main-color);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: var(--main-color);
  border: none;
}

.field-label-text {
  color: var(--main-color) !important;
  font-weight: bold;
  margin-bottom: 0;
}

.perk-pack-expand-btn {
  color: var(--main-color) !important;
  text-decoration: none !important;
}

.perk-pack-expand-btn:hover {
  color: var(--secondary-color) !important;
  text-decoration: none !important;
}

.has-item-check {
  color: var(--main-color);
}

.no-item-check {
  color: #a37c5d;
}

.form-control {
  background: rgba(48, 48, 48, 0);
  border: none;
  border-radius: 0;
  color: white;
  border-bottom: 1px solid var(--main-color) !important;
}

.form-control:focus {
  background: rgba(48, 48, 48, 0.2);
  border-bottom: 1px solid var(--main-color) !important;
  box-shadow: 0 1px 0 0 var(--main-color) !important;
  color: white;
}

.pagination {
  margin-bottom: 6px;
  margin-top: 3px;
}

.page-link {
  border-radius: 0;
  cursor: pointer;
  background-color: var(--main-color);
}

.page-link:hover {
  background-color: var(--secondary-color);
}

.page-item.active .page-link {
  background-color: var(--secondary-color);
}

.page-item.disabled .page-link {
  border-radius: 0;
  background-color: var(--secondary-color);
}

.page-item:first-child .page-link {
  border-radius: 0;
}

.page-item:last-child .page-link {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.btn-secondary {
  background-color: var(--main-color);
  border: none;
}

.btn-secondary:focus {
  background-color: var(--main-color);
  border: none;
}

.show >.btn-secondary.dropdown-toggle {
  background-color: var(--secondary-color);
  border: none;
}

.btn-secondary:not(:disabled):not(.disabled):active, .show >.btn-secondary.dropdown-toggle {
  background-color: var(--secondary-color);
  border: none;
}

.btn-secondary:hover {
  background-color: var(--secondary-color);
  border: none;
}

.btn-secondary:hover {
  background-color: var(--secondary-color);
  border: none;
}

.btn-dark {
  border: none;
}

.btn-dark:hover {
  border: none;
}

.btn-dark:focus {
  border: none;
}

.carousel {
  overflow: hidden;
}

.progress-bar {
  background: var(--main-color);
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.author-link-remove {
  color: #d97427;
}

.author-link-remove:hover {
  color: #a37c5d;
  cursor: pointer;
}

.author-link-add {
  color: var(--main-color);
}

.author-link-add:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.sidenav-logo {
  max-width: 70px;
}

.menu-entry {
  display: flex;
  align-items: center;
  min-height: 40px;
  color: white;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 5px;
  font-weight: bold;
  border-width: 0;
}

@media only screen and (max-height: 800px) {
  .menu-entry {
    display: flex;
    align-items: center;
    min-height: 0px;
    margin: 1px;
    padding: 0px;
    padding-left: 2px;
    color: white;
    font-weight: bold;
    border-width: 0;
  }
}

.menu-entry:hover {
  cursor: pointer;
  color: white;
  background: rgba(var(--main-color-rgb), 0.4);
}

.menu-entry-active {
  background: rgba(var(--main-color-rgb), 0.2);
}

.menu-entry-active:focus {
  border-width: 0;
  outline: 0;
}

.menu-image {
  width: 30px;
  height: auto;
}

.user-profile-placeholder {
  position: relative;
  max-width: 70px;
  height: auto;
}

.profile-avatar-accessory {
  max-width: 70px;
  height: auto;
  position: absolute;
  top: -25px;
  left: 15px;
}

.my-profile-avatar {
  max-width: 100px;
  height: auto;
  max-height: 100px;
}

.ribbon-wrapper {
  width: 110px;
  height: 130px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}
.ribbon {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  line-height: 15px;
  text-align: center;
  /* text-shadow: 0 -1px 0 rgba(0, 0, 0, .4); */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  padding-left: 16px;
  right: -11px;
  top: 10px;
  width: 130px;
  height: 28px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: var(--main-color);
}

.vote-img-preview {
  max-height: 75px;
  max-width: 75px;
  margin-right: 10px;
}

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: #303030; /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #303030; /* creates padding around scroll thumb */
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}
