/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap';
@import 'app.bootstrap.min.css';
@import '~react-bootstrap-typeahead/css/Typeahead.css';
@import 'app.custom.css';

