body {
  background-image: url('img/bg.jpg');
  background-attachment: fixed;
  background-color: black;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
}

.main-content {
  background: rgba(48, 48, 48, 0.1);
}

.main-navbar {
  background: rgba(48, 48, 48, 0.5);
}

.perk-card {
  background: rgba(48, 48, 48, 0.5);
  max-width: 800px;
}

.pack-featured {
  box-shadow: 0 0.5rem 1rem rgba(35,132,164, .6) !important;
}

.perk-header-img {
  max-width: 800px;
  height: auto;
}

.perk-pack-data {
  font-size: 0.8rem;
}

.perk-preview-img-compact {
  width: 50%;
  height: 50%;
}

code {
  color: #23a4a4;
}

a {
  color: #23a4a4;
}

a:hover {
  color: #478694;
  text-decoration: none;
}

.field-label-text {
  color: #23a4a4 !important;
}

.perk-pack-expand-btn {
  color: #23a4a4 !important;
  text-decoration: none !important; 
}

.perk-pack-expand-btn:hover {
  color: #478694 !important;
  text-decoration: none !important; 
}

.has-item-check {
  color: #23a4a4;
}

.no-item-check {
  color: #a37c5d;
}

.form-control {
  background: rgba(48, 48, 48, 0);
  border: none;
  border-radius: 0;
  color: white;
  border-bottom: 1px solid #23a4a4 !important;
}

.form-control:focus {
  background: rgba(48, 48, 48, 0.2);
  border-bottom: 1px solid #23a4a4 !important;
  box-shadow: 0 1px 0 0 #23a4a4 !important;
  color: white;
}

.btn-secondary {
  background-color: #23a4a4;
  border: none;
}

.btn-secondary:focus {
  background-color: #23a4a4;
  border: none;
}

.btn-secondary:hover {
  background-color: #478694;
  border: none;
}

.btn-secondary:hover {
  background-color: #478694;
  border: none;
}

.btn-dark {
  border:none;
}

.btn-dark:hover {
  border:none;
}

.btn-dark:focus {
  border:none;
}

.carousel {
  overflow: hidden;
}