body {
  background-image: url('img/bg.jpg');
  background-attachment: fixed;
  background-color: black;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  overflow-y: hidden;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

#root {
  max-height: 100vh;
}

.main-content {
  background: rgba(48, 48, 48, 0.1);
  height: 100%;
}

.main-navbar {
  background: rgba(48, 48, 48, 0.5);
}

.perk-card {
  border-radius: 0;
  background: rgba(48, 48, 48, 0.5);
  max-width: 500px;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal-content {
  border-radius: 0;
}

.pack-featured {
  box-shadow: 0 0.5rem 1rem rgba(35, 132, 164, 0.6) !important;
}

.perk-header-img {
  max-width: 800px;
  height: auto;
}

.perk-pack-data {
  font-size: 0.8rem;
}

.perk-preview-img-compact {
  width: 50%;
  height: 50%;
}

code {
  color: #23a4a4;
}

a {
  color: #23a4a4;
}

a:hover {
  color: #478694;
  text-decoration: none;
}

.navbar-dark .navbar-nav .top-nav-active {
  color: #23a4a4;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #23a4a4;
  border: none;
}

.field-label-text {
  color: #23a4a4 !important;
}

.perk-pack-expand-btn {
  color: #23a4a4 !important;
  text-decoration: none !important;
}

.perk-pack-expand-btn:hover {
  color: #478694 !important;
  text-decoration: none !important;
}

.has-item-check {
  color: #23a4a4;
}

.no-item-check {
  color: #a37c5d;
}

.form-control {
  background: rgba(48, 48, 48, 0);
  border: none;
  border-radius: 0;
  color: white;
  border-bottom: 1px solid #23a4a4 !important;
}

.form-control:focus {
  background: rgba(48, 48, 48, 0.2);
  border-bottom: 1px solid #23a4a4 !important;
  box-shadow: 0 1px 0 0 #23a4a4 !important;
  color: white;
}

.page-link {
  border-radius: 0;
  cursor: pointer;
  background-color: #23a4a4;
}

.page-link:hover {
  background-color: #478694;
}

.page-item.active .page-link {
  background-color: #478694;
}

.page-item.disabled .page-link {
  border-radius: 0;
  background-color: #478694;
}

.page-item:first-child .page-link {
  border-radius: 0;
}

.page-item:last-child .page-link {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.btn-secondary {
  background-color: #23a4a4;
  border: none;
}

.btn-secondary:focus {
  background-color: #23a4a4;
  border: none;
}

.btn-secondary:hover {
  background-color: #478694;
  border: none;
}

.btn-secondary:hover {
  background-color: #478694;
  border: none;
}

.btn-dark {
  border: none;
}

.btn-dark:hover {
  border: none;
}

.btn-dark:focus {
  border: none;
}

.carousel {
  overflow: hidden;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.ribbon-wrapper {
  width: 110px;
  height: 130px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}
.ribbon {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  line-height: 15px;
  text-align: center;
  /* text-shadow: 0 -1px 0 rgba(0, 0, 0, .4); */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  padding-left: 16px;
  right: -11px;
  top: 10px;
  width: 130px;
  height: 28px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #23a4a4;
}

::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: #303030;        /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background-color: #23a4a4;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #303030;  /* creates padding around scroll thumb */
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}
